body {
    margin: 0;
    width: auto;
    height: auto;
    padding: 0;
    background: #efefef;
    background-image: url("gradientWallpaper.jpg");
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}

#past-box {
    position: relative;
    margin-top: 30px;
    height: 430px;
    width: auto;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}

.past-table {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 70px;
    width: 1000px;
    height: 300px;
}

h1 {
    top: auto;
    left: auto;
    margin: -40px 0 20px 0;
    font-weight: 900;
    font-size: 40px;
    color: #454545;
}

table[id="table-header"] {
    position: relative;
    margin-top: -40px;
    margin-bottom: 10px;
}

table[id="table-body"] {
    position: relative;

}

th {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    padding-bottom: 4px;
    color: #454545;
}

th[name="secret-numbers"],
td[name="secret-numbers"]{
    visibility: hidden;
}

td {
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    padding-bottom: 4px;
}

input[id="filter-month"],
input[id="filter-year"]{
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 50px;
    width: 120px;
    height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: left;
    color: #454545;
}

input[type="submit"] {
    margin-bottom: 28px;
    width: 85px;
    height: 28px;
    background: #262626;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.2s ease;
    text-align: center;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #b30000;
    transition: 0.2s ease;
}

input[id="no-filter-button"] {
    position: relative;
    margin-left: 340px;
    margin-top: -132px;

}



























